.price {
  display: flex;
  align-items: center;
  .now {
    color: $price;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 18px;
  }
  .past {
    color: $price;
    font-size: 14px;
    text-decoration: line-through;
    opacity: 52%;
  }
}
