.description {
  margin-right: 1em;
  h1 {
    color: $title-color;
    margin-bottom: 10px;
    .name {
      letter-spacing: 2px;
      font-size: 1.2em;
      padding-left: 5px;
      font-weight: bold;
    }
    .name-des {
      font-size: 0.7em;
    }
  }

  .desc {
    margin: 1em 0;
  }
  .pay {
    .car-icon {
      margin-right: 5px;
    }
    a {
      margin-top: 20px;
      cursor: pointer;
      .btn.btn-phone {
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        color: $btn-color;
        border: none;
        border-radius: 30px;
        background: $btn-bg;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }
}
