$body-bg: hsl(0, 0%, 98%);

$nav-bg: #f0ebd8;
$nav-icon: #0d1321;
$nav-logo: #3e5c76;
$nav-link: #1d2d44;
$price: #3e5c76;
$title-color: #1d2d44;
$btn-color: white;
$btn-bg: linear-gradient(to left, #3e5c76, #1d2d44);
$footer-color: black;
$footer-link: black;
$footer-bg: #f0ebd8;
$color-products: #1f74eb;
$body-bg: hsl(0, 0%, 98%);

$nav-bg: #f0ebd8;
$nav-icon: #0d1321;
$nav-logo: #3e5c76;
$nav-link: #1d2d44;
$price: #3e5c76;
$title-color: #1d2d44;
$btn-color: white;
$btn-bg: linear-gradient(to left, #3e5c76, #1d2d44);
$footer-color: black;
$footer-link: black;
$footer-bg: #f0ebd8;
$h2-aboutUs: #1f74eb;
